/*Global Styles*/
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	box-sizing: border-box ;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

p{
	font-size: 1.6rem;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

section{
	padding: 5rem 0;
}

/*header*/
header{
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-brand{
	width: 4rem;
}

.menu-icons i{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}

.close i{
	color: #fafafa;
}

.nav-list{
	width: 25rem;
	height: 100vh;
	background-color: #d7d4ed;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}

.nav-list.active{
	right: 0;
}

.close{
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}

.nav-item{
	margin: 1.5rem 0;
}

.nav-link{
	font-size: 1.6rem;
	text-transform: uppercase;
	color: rgba(0,0,0,.7);
}

.nav-link:hover{
	color: white;
}


/*hero*/
.hero{
	width: 100%;
	height: 80vh;
	background: linear-gradient(135deg, rgba(255,50,0,0.9) 0%, rgba(127,25,0, 0.8) 100%), url("../images/header-bg.jpg") center no-repeat;
	background-size: cover;
	position: relative;
}

.hero::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 4.5rem;
	background: url("../images/wave-small.png") center no-repeat;
	background-size: cover;
}

.main-message{
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	text-transform: uppercase;
	transform: translateY(20%);
}

.main-message h3{
	font-size: 1.6rem;
}

.main-message h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 4rem;
	margin: 1rem 0;
}

.main-message p{
	text-transform: none;
}

.btn{
	background-color: #7f1900;
	border-radius: 2rem;
	color: #fafafa;
	display: inline-block;
	margin-top: 2rem;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: background-color 650ms;
}

.btn:hover{
	background-color: #ff3200;
}

/*experience the outdoors*/
.experience-outdoors{
	padding: 0;
/*	margin-top: 10rem;*/
}

.title-heading{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10rem;
	color: rgba(0,0,0,.7);
}

.title-heading h3{
	font-size: 1.4rem;
}

.title-heading h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 2rem;
	margin: .5rem 0 1rem;
}

.title-heading p{
	text-transform: none;
}

.activities-grid{
	display: grid;
	grid-auto-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
}

.activities-grid-item{
	height: 40rem;
	padding: 5rem;
	color: #fafafa;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	z-index: 1;	
}

.activities-grid-item::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(135deg, rgba(255,50,0,0.9) 0%, rgba(127,25,0, 0.8) 100%);
	z-index: -1;
}

.star-gazing{
	background: url(../images/stars.jpg) center no-repeat;
}

.hiking{
	background: url(../images/hiking.jpg) center no-repeat;
}

.camping{
	background: url(../images/camping.jpg) center no-repeat;
}

.activities-grid-item i{
	font-size: 4rem;
	color: #fafafa;
}

.activities-grid-item h1{
	font-family: 'Aldrich', sans-serif;
	font-size: 1.7rem;
	text-transform: uppercase;
	margin: 2rem 0;
}

/*testimonials*/
.testimonials{
	width: 100%;
	height: 80vh;
	background: linear-gradient(135deg, rgba(255,50,0,0.9) 0%, rgba(127,25,0, 0.8) 100%), url("../images/testimonials-bg.jpg") center no-repeat fixed;
	background-size: cover;
	position: relative;
}

.testimonials::before{
	content:"";
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 4.7rem;
	background: url("../images/wave-small-reversed.png") center no-repeat;
	background-size: cover;
}

.testimonial{
	width: 100%;
	color: #fafafa;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.testimonial-text-box{
	padding: 0 1.5rem;
	margin-bottom: 2rem;
	position: relative;
}

.testimonial-text-box i{
	position: absolute;
	top: -8rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 8rem;
	color: #fafafa;
	opacity: 0.5;
	z-index: -1;
}

.testimonial-customer img{
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border: 3px solid #eb6481;
}

/*PAS*/
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid #48c7ec;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

/*PAS*/
.section-title {
	position: relative
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color: #FF7200;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.pt-100 {
	padding-top: 100px;
}
.pb-100 {
	padding-bottom: 100px;
}
.mb-100{
    margin-bottom:100px;
}
.services {
	background-color: #FBFBFB;
}
.single-service {
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: .3s;
	transition: .3s;
	padding: 30px 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
}
.single-service:before {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #FF7200;
	left: 0;
	top: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:after {
	position: absolute;
	width: 0;
	height: 0;
	background-color: #FF7200;
	right: 0;
	bottom: 0;
	content: "";
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover:after,
.single-service:hover:before {
	width: 50%;
	height: 2px;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover {
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}
.single-service i.fa {
	font-size: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	line-height: 60px;
	margin-bottom: 30px;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s
}
.single-service:hover i.fa {
	background-color: #FF7200;
	color: #fff;
	border-color: #FF7200;
	border-radius: 0;
}
.single-service h4 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.single-service p {
	font-size: 15px;
	line-height: 1.8;
}

/*begin adventures*/
.adventure-grid{
	display: grid;
	grid-auto-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2.5rem;
	margin-bottom: 2rem;
}

.adventure-grid-item p{
	color: rgba(0,0,0,0.7);
}

footer{
	padding: 2.5rem 0;
	background-color: #d7d4ed;
	text-align: center;
	color: rgba(0,0,0,0.7);
}

/*Media Queries*/
@media screen and (min-width: 1px){
	#sum{
		display:none;
	}
}
@media screen and (min-width: 350px){
	.main-message{
		transform: translateY(40%);
	}
}

@media screen and (min-width: 470px){
	.hero::before{
		height: 9.4rem;
		background: url("../images/wave-medium.png");
		background-size: cover;
	}

	.testimonials::before{
		height: 9.4rem;
		background: url("../images/wave-medium-reversed.png");
		background-size: cover;
	}
	#sum{
		display: block;
	}
}

@media screen and (min-width: 700px){
	header{
		height: 8rem;
	}

	.nav-brand{
		width: 5rem;
	}

	.nav-list{
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}

	.menu-icons{
		display: none;
	}

	.nav-item{
		margin: 0 2.5rem;
	}

	.nav-link, .current{
		color: #fafafa;
		position: relative;
		font-size: 1.3rem;
	}

	.nav-link::before, .current::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -.5rem;
		background-color: #fafafa;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 650ms;
	}

	.current::before{
		transform: scaleX(1);
	}

	.nav-link:hover::before{
		transform: scaleX(1);
	}

	.hero{
		height: 100vh;
	}

	.main-message{
		transform: translateY(70%);
	}

	.title-heading h1{
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 950px){
	.hero::before{
		height: 22.7rem;
		background: url("../images/wave-large.png");
		background-size: cover;
	}

	.testimonials::before{
		height: 22.7rem;
		background: url("../images/wave-large-reversed.png");
		background-size: cover;
	}
}

@media screen and (min-width: 1200px){
	.hero{
		height: 100vh;
	}
}